body{
    background-color: rgb(40, 39, 39);
}

.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content:center;
    margin-top: 5%;
}
.msg{
    align-self:center;
    padding:3rem;
    font-weight:bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:beige;
}
#new{
    padding:1rem;
    font-weight: bolder;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: beige;
}
.buttons{
    padding:3rem;
    align-self:center;
}
.board{
    align-self: center;
    display:grid;
    grid-template-columns: 7rem 7rem 7rem;
    grid-template-rows: 7rem 7rem 7rem;
}

.box{
    border:5px solid rgb(88, 88, 88);
    background-color:beige ;
    font-weight:bolder;
    font-size:xx-large;
}